{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  {% if object %}
    Edit lesson {{ object.title }}
  {% else %}
    Create a new lesson
  {% endif %}
{% endblock title %}

{% block content %}
<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col">
      <h3>
        {% if object %}
          Edit lesson "{{ object.title }}"
        {% else %}
          Create a new lesson
        {% endif %}
      </h3>
      <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <input type="submit" value="Submit" class="btn btn-success">
      </form>
    </div>
  </div>
</div>
{% endblock content %}
  