{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  {% if object %}
    Edit course {{ object.title }}
  {% else %}
    Create a new course
  {% endif %}
{% endblock title %}

{% block content %}
  <div class="row mt-5">
    <div class="col">
      <h3>
        {% if object %}
          Edit course "{{ object.title }}"
        {% else %}
          Create a new course
        {% endif %}
      </h3>
      <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <input type="submit" value="Submit" class="btn btn-success">
      </form>
    </div>
  </div>
{% endblock content %}
  