{% extends '_base.html' %}

{% block title %}Chat room for "{{ course.title }}"{% endblock title %}

{% block content %}
  <div class="container">
    <div class="row mt-5">
      <div class="col">
        <h3>Chat room for course "{{ course.title }}"</h3>
        <div id="chat" class="mt-3" style="width: 100%; height: 50vh; border: 1px solid grey;">
        </div>
        <div id="chat-input" class="mt-3">
          <input type="text" id="chat-message-input" style="width: 100%;" placeholder="Type here...">
          <input type="submit" value="Send" id="chat-message-submit" class="btn btn-success" style="width: 100%; margin-top: 0.5em;">
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
  

{% block include_js %}
  {{ course.id | json_script:"course-id" }}
{% endblock %}

{% block page_js %}
<script>
  document.addEventListener('DOMContentLoaded', (event) => {

    const courseId = JSON.parse(document.getElementById('course-id').textContent);
    const url = 'ws://' + window.location.host + '/ws/chat/room/' + courseId + '/';
    const chatSocket = new WebSocket(url);

    chatSocket.onmessage = function(event) {
      const data = JSON.parse(event.data);
      const chat = document.getElementById('chat');
      chat.innerHTML += '<div class="message">' + data.message + '</div>';
      chat.scrollTop = chat.scrollHeight;
    };

    chatSocket.onclose = function(event) {
      console.error('Chat socked closed unexpectedly');
    };

    const messageInput = document.getElementById('chat-message-input');
    const submitButton = document.getElementById('chat-message-submit');

    submitButton.addEventListener('click', function(event){
      const message = messageInput.value;
      if (message) {
        chatSocket.send(JSON.stringify({'message': message}));
        messageInput.value = '';
        messageInput.focus();
      }
    });

    messageInput.addEventListener('keypress', function(event){
      if (event.key === 'Enter') {
        event.preventDefault();
        submitButton.click();
        messageInput.value = '';
      }
    });

    messageInput.focus();

  });
</script>
{% endblock %}