{% extends '_base.html' %}

{% block content %}
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="https://assets-global.website-files.com/65393b768d06ee4c16d24a0b/65bd645bb768faf20bc356c2_teachable-homepage-p-1080.jpg" class="rounded d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Share what you know and we'll help you get paid for it</h1>
      <p class="lead">Teachable helps creators engage their online audiences and get paid on their own terms with courses, coaching, community, memberships, and downloadable content.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="#" class="btn btn-primary btn-lg px-4 me-md-2">Start for free</a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt-5 pb-5" style="background-color: #F8FAF4;">
  <div class="container pt-5">
    <div class="row">
      <div class="col">
        <h1 class="text-center">More ways to sell</h1>
        <p class="text-center mt-3">There’s no all-in-one formula for success as a creator. That’s why we let you choose how to build your business.</p>
      </div>
    </div>
    <div class="row mt-3 row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card">
          <img src="https://assets-global.website-files.com/65393b768d06ee4c16d24a0b/653a93e2b2ac964188d54697_online-courses-teachable-webflow-template.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Online Courses</h5>
            <p class="card-text">Our intuitive course builder gives you the power to share what you know. No coding skills necessary.</p>
            <a href="#" class="btn btn-primary">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://assets-global.website-files.com/65393b768d06ee4c16d24a0b/653a93e1d035b45ab8474d42_digital-downloads-teachable-webflow-template.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Digital Download</h5>
            <p class="card-text">Reach your audience with the content they want, faster than ever. Sell PDFs, audio clips and more.</p>
            <a href="#" class="btn btn-primary">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="https://assets-global.website-files.com/65393b768d06ee4c16d24a0b/653a93e1b119e6acbd2a0491_coaching-teachable-webflow-template.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Coaching</h5>
            <p class="card-text">Manage your coaching business with milestones and scheduling, plus, process payments all here.</p>
            <a href="#" class="btn btn-primary">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>
{% endblock content %}
